*{
    margin:0px;
    padding:0px;
}
body{
    background-image:url(../images/i1.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family:'Kaushan Script', cursive;

}

h1{
    font-size: 40px;
    color:white;
    margin-top: 250px !important;
}
p{
    margin-top: 50px;
    font-size: 17px;
    color:white;
    
}
h3{
    font-size: 40px;
    color: white;
    margin-top: 30px;
    
}
.col-md-5{
    margin-top: 80px;
    box-shadow: -1px 1px 60px 10px gray;
    background: rgba(0,0,0,0.2);
}
.label{
    font-weight: normal;
    margin-top: 15px;
    color: white;
    font-size:  15px;
}
.form-control{
    background: transparent;
    border-radius:10px;
    border:0px;
    border-bottom: 1px solid white;
    font-size: 15px;
    margin-top: 15px;
    height:30px;
    color: white;
}
.form-check-label{
    color: white;
}
.abc{
    margin-bottom: 40px;
}
.butspace{
    margin-left: 45% !important;
}
hr{
    color: white !important;
}

  .form-control:hover{
      background-color: whitesmoke!important;
  }
  option{
      color: black !important;
  }